<div class="container">
    <div class="ui grid center aligned">
        <div class="column four wide">
            <a href="/">
                <button class="ui teal button">
                    Back
                </button>
            </a>
        </div>
        <div class="column eight wide ">
            <div class="ui segment">
                <h2 class="ui teal header">
                    Add New Shipping
                </h2>
            </div>
        </div>
        <div class="column four wide ">
        
        </div>
    </div>
    <div class="ui two column grid center aligned">
        <div class="row">
        </div>
    </div>

</div>